body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.viewer-frame {
  border: 2px solid #000; /* Here you can customize your frame */
  padding: 10px; /* Here you can customize padding inside the frame */
  width: 80%; /* Here you can customize frame width */
  height: 620px; /* Here you can customize frame height, this should be viewer height + 2*padding */
  overflow: auto; /* Enables scrollbars when content exceeds frame */
  margin: auto; /* Center the frame */
}
